#map-base {
  width: 569px;
  height: 375px;
}


/*  Header
==================================== */

header .navbar {
  margin-bottom: 0;
padding-top: 8px;
}

.navbar-default {
  border: none;
  background-color: black;
}

.navbar-brand {
  color: #222;
text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
letter-spacing: -1px;
  margin-top: 0px;
  padding: 0 0 0 15px;
}
.navbar-default .navbar-brand{
color: #393E46;
}

header .navbar-collapse  ul.navbar-nav {
  float: right;
  margin-right: 0;
}

header .navbar-default{
  background-color:#393E46; 
}

header .nav li a:hover,
header .nav li a:focus,
header .nav li.active a,
header .nav li.active a:hover,
header .nav li a.dropdown-toggle:hover,
header .nav li a.dropdown-toggle:focus,
header .nav li.active ul.dropdown-menu li a:hover,
header .nav li.active ul.dropdown-menu li.active a{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


header .navbar-default .navbar-nav > .open > a,
header .navbar-default .navbar-nav > .open > a:hover,
header .navbar-default .navbar-nav > .open > a:focus {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


header .navbar {
  min-height: 70px; 
padding:18px 0;
}

header .navbar-nav > li  {
  padding-bottom: 12px;
  padding-top: 20px;
}

header  .navbar-nav > li > a {
  padding-bottom: 6px;
  padding-top: 5px;
  margin-left: 2px;
  line-height: 30px;
font-weight: 700;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


.dropdown-menu li a:hover {
  color: #fff !important;
}

header .nav .caret {
  border-bottom-color: #f5f5f5;
  border-top-color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
background-color:  #fff;
}	


.dropdown-menu  {
  box-shadow: none;
  border-radius: 0;
border: none;
}

.dropdown-menu li:last-child  {
padding-bottom: 0 !important;
margin-bottom: 0;
}

header .nav li .dropdown-menu  {
 padding: 0;
}

header .nav li .dropdown-menu li a {
 line-height: 28px;
 padding: 3px 12px;
}

/* --- menu --- */

header .navigation {
float:right;
}

header ul.nav li {
border:none;
margin:0;
}

header ul.nav li a {	
font-size:12px;
border:none;
font-weight:700;
text-transform:uppercase;
}

header ul.nav li ul li a {	
font-size:12px;
border:none;
font-weight:300;
text-transform:uppercase;
}


.navbar .nav > li > a {
color: #111;
text-shadow: none;
border: 1px solid rgba(255, 255, 255, 0) !important;
border-bottom: yellow;
font-size: medium;
}

.navbar .nav a:hover {
background:none;
}

.navbar .nav > .active > a,.navbar .nav > .active > a:hover {
background:none;
font-size: large;
font-weight:700;
/* color: blue; */
}

.navbar .nav > .active > a:active,.navbar .nav > .active > a:focus {
background:none;
outline:0;
font-weight:700;
}

.navbar .nav li .dropdown-menu {
z-index:2000;
}

header ul.nav li ul {
margin-top:1px;
}
header ul.nav li ul li ul {
margin:1px 0 0 1px;
}
.dropdown-menu .dropdown i {
position:absolute;
right:0;
margin-top:3px;
padding-left:20px;
}

.navbar .nav > li > .dropdown-menu:before {
display: inline-block;
border-right: none;
border-bottom: none;
border-left: none;
border-bottom-color: none;
content:none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;  
/* border-bottom: yellow; */
}


ul.nav li.dropdown a {
z-index:1000;
display:block;
}

select.selectmenu {
display:none;
}
.pageTitle{
color: #fff;
margin: 30px 0 3px;
display: inline-block;
}

#featured{
width: 100%;
background:#000;
position:relative;
margin:0;
padding:0;
}

#setblack{
  background-color: #393E46;;
}
#black{
  background-color: #393E46;
  background-image: none
}

/*header end*/

.navbar-fixed-top {
  background-color: rgba(12,16,28,0);
  height: 50px;
  display:flex;
  /* margin:20 0 20 0; */
  align-items: center;
  /* padding: 20 0 20 0; */
  /* justify-content: center; */
}

.navselected {
  /* border-bottom: 1px solid hsla(0,0%,100%,.1); */
  border-bottom-color: #ffdd64;
  color: #ffdd64;
}

.btnnav {
  border-bottom-width: 2px;
  border-style: solid;
  color: #fff;
  cursor: pointer;
  border-color: transparent;
  /* width: 15.5%; */
  background: hsla(0, 0%, 76.9%, 0.0);
  /* padding: 24px 12px; */
  transition: all 0.3s;
  /* margin-bottom: 10px; */
  font-size: 12px;
  /* background-color: rgba(0,0,0,0); */

}

.btnactive {
  border-bottom-color: #ffdd64;
  color: #ffdd64;
}

.btnnav:hover  {
  border-bottom-color: #ffdd64;
  color: #ffdd64;
}

.btnnav:active  {
  border-bottom-color: #93760b;
  color: #93760b;
}

.navfont {
  color: white;
  font-size: 16px;
}

.navigator-active {
  background-color: rgba(10,16,28,.5);

}

.logobox {
  height: 50px;
  width:50px;
}


#trendblock {

    background-color: #222833;
}

#treemap {
  min-height: 240px;
  background-color: #383d46;
}

#secondod:hover {
  /* background-color: #16a500;
  border-color: #16a500; */
}

#overview {
  background-color: #222833;
}
#multidimension {
  background-color: #222833;
}
#comparemap {
  background-color: #222833;
}
#overview {
  margin-bottom: 20px;
  margin-bottom: 0;
  padding-bottom: 20px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2c343c;
}
/* .hero .bg {
  background: linear-gradient(
180deg,rgba(10,16,28,.2) 40.34%,#0a101c 91.87%),rgba(10,16,28,.4) 
url(https://city-report.oss-cn-shenzhen.aliyuncs.com/bayarea/images/bg-sz.jpg);
    background-size: cover;
} */
.hero {
  background: linear-gradient(
      180deg,
      rgba(10, 16, 28, 0.2) 40.34%,
      #0a101c 91.87%
    ),
    rgba(10, 16, 28, 0.4)
      url(https://city-report.oss-cn-shenzhen.aliyuncs.com/bayarea/images/bg-sz.jpg);
  background-size: cover;
}
.hero {
  position: relative;
  padding: 200px 100px 50px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #353535;
  margin-top: 0px;
}
/* .nav ul{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */
.nav-item {
  cursor: pointer;
  transition: all 0.3s;
  /* width: 30;
  height: 30; */
}
#thecontent {
  margin: auto;
  width: 50%;
}
.title {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 50px;
  text-align: center;
}

.title3 {
  color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.desc2 {
  color: #fff;
  /* width: 50%; */
  text-align: center;
  text-shadow: 0 1px 2px rgb(0 0 0 / 25%);
  background-color: #222833;
  margin: 0, 0, 0;
  padding: 0;
}
.desc2 p {
  margin: 0;
  padding-bottom: 50px;
}
.divide-bar {
  border-bottom-width: 1px;
  border-style: solid;
  height: 50px;
  border-color: hsla(0, 0%, 100%, 0.1);
  background-color: #0a101c;
  /* margin: 0; */
  border: 0;
  border-bottom: 2;
}
.block {
  color: white;
  padding: 40px 100px;
  background-color: #0a101c;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.icon {
  height: 40px;
  width: 40px;
  color: #ffdd64;
  margin-right: 15px;
  top: 11px;
}
.title2 {
  color: #ffdd64;
}
.panel {
  background-color: #0a101c;
  align-items: center;
  display: flex;
}
.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 49%;
}
.item {
  width: 40%;
  border-left: 4px;
  border: #0a101c;
  border-left-color: rgba(255, 221, 100, 0.5);
  border-style: solid;
  background: hsla(0, 0%, 76.9%, 0.01);
  padding: 2px 16px;
  margin-bottom: 50px;
}
.item-title {
  font-weight: 600;
  font-size: 13px;
  color: hsla(0, 0%, 100%, 0.6);
  margin-bottom: 15px;
}

.item-value {
  font-size: 20px;
  font-weight: 600;
  color: #ffe699;
  line-height: 1.2;
}
.footer {
  font-size: 13px;
  font-weight: 600;
  color: hsla(0, 0%, 100%, 0.3);
}

.bgmap {
  position: relative;
  width: 49%;
  height: 400px;
}
#map1 {
  height: 80vh;
}
#bar-chart1 {
  padding-left: 0;
}
#bar-chart2 {
  padding-left: 0;
}
.tabs {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  display: flex;
}
.nav-item {
  color: #ffdd64;
}

.tab.active {
  border-bottom-color: #ffdd64;
  color: #ffdd64;
}
.activeselect {
  border-bottom-color: #ffdd64;
  color: #ffdd64;
}
.tab {
  border-bottom-width: 4px;
  border-style: solid;
  color: #fff;
  cursor: pointer;
  border-color: transparent;
  /* width: 15.5%; */
  background: hsla(0, 0%, 76.9%, 0.01);
  padding: 24px 12px;
  transition: all 0.3s;
  margin-bottom: 10px;
  font-size: 18px;
}
.tab-content {
  display: flex;
  width: 40%;
}
.info-header2 {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  height: 10vh;
  margin-bottom: 20px;
}
li {
  display: list-item;
}
.item2 {
  width: 40%;
  border-left: 4px;
  border: #222833;
  border-left-color: rgba(255, 221, 100, 0.5);
  border-style: solid;
  background: hsla(0, 0%, 76.9%, 0.01);
  padding: 2px 16px;
  margin-bottom: 20px;
  margin-left: 50px;
  height: 10vh;
}
.info2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  height: 80vh;
  margin-bottom: 100px;
}
.mapview {
  height: 80vh;
  margin-left: 50px;
  padding: 0;
  margin-bottom: 100px;
}

.title2 {
  /* border-bottom: 1px solid hsla(0,0%,100%,.1); */
  padding-bottom: 20px;
  /* margin-bottom: 40px; */
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding-left: 20px;
  margin-top: 30px;
}

.panel2 {
  background-color: #222833;
  /* align-items: center; */
  /* display: flex; */
}

.district-chart-legend {
  list-style-type: none;
  margin-top: 56px;
}

.district {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  overflow: hidden;
  padding: 1px;
  /* margin-top:6% */
}
.dis-num {
  color: #ffe699;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 0px;
}
.dis-text {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.dis-name {
  color: #fff;
  white-space: nowrap;
  padding-left: 10px;
  margin: 0;
}
.dis-value {
  color: #ffe699;
  white-space: nowrap;
}
.district-chart-legend {
  padding: 0;
}
.btn {
  border-radius: 0;
  transition: all 0.5s;
}

.legend2 {
  background-color: #a2a2a2;
  border-radius: 3px;
  bottom: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 15px;
  z-index: 1;
}
.legend2 div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.btn-danger.active {
  background-color: red;
  border-color: red;
}
.legend3 {
  background-color: #a2a2a2;
  border-radius: 3px;
  bottom: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 5px;
  position: absolute;
  right: 0px;
  z-index: 1;
}
.legend3 div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.btn-first {
  background-color:#B72928;
  border-color:#B72928 ;
}

.btn-first.active.focus,
.btn-first.active:focus,
.btn-first.active:hover,
.btn-first:active.focus,
.btn-first:active:focus,
.btn-first:active:hover,
.open > .dropdown-toggle.btn.focus,
.open > .dropdown-toggle.btnr:focus,
.open > .dropdown-toggle.btn:hover {
  color: #fff;
  background-color: #63101A;
  border-color: #63101A;
}

.btn-second {
  color: #fff;
  background-color: #e93f19;
  border-color: #e93f19;
}

.btn-second.active.focus,
.btn-second.active:focus,
.btn-second.active:hover,
.btn-second:active.focus,
.btn-second:active:focus,
.btn-second:active:hover,
.open > .dropdown-toggle.btn.focus,
.open > .dropdown-toggle.btnr:focus,
.open > .dropdown-toggle.btn:hover {
  color: #fff;
  background-color: #a22a0f;
  border-color: #a22a0f;
}

.btn-third {
  color: #fff;
  background-color: #EFAC28;
  border-color: #EFAC28;
}

.btn-third.active.focus,
.btn-third.active:focus,
.btn-third.active:hover,
.btn-third:active.focus,
.btn-third:active:focus,
.btn-third:active:hover,
.open > .dropdown-toggle.btn.focus,
.open > .dropdown-toggle.btnr:focus,
.open > .dropdown-toggle.btn:hover {
  color: #fff;
  background-color: #8e6006;
  border-color: #8e6006;
}

.btn-forth {
  color: #fff;
  background-color: #A8DDB5;
  border-color: #A8DDB5;
}

.btn-forth.active.focus,
.btn-forth.active:focus,
.btn-forth.active:hover,
.btn-forth:active.focus,
.btn-forth:active:focus,
.btn-forth:active:hover,
.open > .dropdown-toggle.btn.focus,
.open > .dropdown-toggle.btnr:focus,
.open > .dropdown-toggle.btn:hover {
  color: #fff;
  background-color: #56a76a;
  border-color: #56a76a;
}

.btn-fifth {
  color: #fff;
  background-color: #4EB3D3;
  border-color: #4EB3D3;
}

.btn-fifth.active.focus,
.btn-fifth.active:focus,
.btn-fifth.active:hover,
.btn-fifth:active.focus,
.btn-fifth:active:focus,
.btn-fifth:active:hover,
.open > .dropdown-toggle.btn.focus,
.open > .dropdown-toggle.btnr:focus,
.open > .dropdown-toggle.btn:hover {
  color: #fff;
  background-color: #0580a5;
  border-color: #0580a5;
}

.btn-sixth {
  color: #fff;
  background-color: #0868AC;
  border-color: #0868AC;
}

.btn-sixth.active.focus,
.btn-sixth.active:focus,
.btn-sixth.active:hover,
.btn-sixth:active.focus,
.btn-sixth:active:focus,
.btn-sixth:active:hover,
.open > .dropdown-toggle.btn.focus,
.open > .dropdown-toggle.btnr:focus,
.open > .dropdown-toggle.btn:hover {
  color: #fff;
  background-color: #073c62;
  border-color: #073c62;
}

.chart-card-title {
  color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    background-color:#2d333d;
    padding: 14px 20px;
}

.full-cell {
  display: flex;
    justify-content: space-between;
    width: 100%;
}

.side {
  width: 24.5%;
  margin-top:0px;
  padding-top:0px
}

.chart-card {
  height: 280px;
}

.chart-card-title {
  margin-top: 0px;
}

.chart-line {
  background-color: #383d46;
}

.chart {
  min-height: 240px;
}
.middle {
  width: 55%;
}

#heatmap {
  height: 100%;
}

.list {
  overflow-y: auto;
  padding: 0 40px 20px;
  list-style: none;
}
.itemlist {
  border-bottom: 1px solid hsla(0,0%,100%,.05);
    padding-bottom: 15px;
    padding-top: 15px;

}

.card-full {
  overflow-y: auto;
    height: 600px;
}

.card {
  background-color: #2d333d;
  padding-top: 30px;
  padding-bottom: 30px;
}

.linkword {

  font-weight: 600;
  color: #fff;
  line-height: 22px;
  opacity: .8;
  transition: all .3s;
}

.map-overlay {
  font: 12px, Arial, Helvetica, sans-serif;
position: absolute;
  width: 28%;
  left:25%;
  padding: 10px;
  z-index:5
  }
  
  .map-overlay .map-overlay-inner {
  background-color: #2d333d;
  /* position: absolute; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: left;
  /* width: 80%; */
  bottom:20%;
  left:5%
  }
   
  .map-overlay h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
  }
  
  .map-overlay .legend .bar {
  height: 10px;
  border: none;
  width: 85%;
  background: linear-gradient(to right, #FFF7EC, #FEE8C8,#FDD49E,#FDBB84,#FC8D59,#EF6548,#B30000,#7F0000);
  }
    
  .map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
  } 

  #slider {
    width: 80%;
  }

  .rangetitle {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    /* margin-bottom: 20px; */
    background-color: #2d333d;
    /* padding: 14px 20px; */
    margin: 0px;
    margin-bottom: 10px;
  }

  .footlist {
    font-weight: 600;
    color: #fff;
    line-height: 22px;
    opacity: .8;
    transition: all .3s;
    padding-right: 1;
  }